#board table{
    margin: auto;
    padding: 0;
    border-spacing: 0;


}

td, tr{
    padding: 0;
    margin: 0;
    line-height: 0;

}
body{
    background: #2A2A2A;
}
#counter {
    margin: auto;
    padding-left: 800px;
    padding-top: 40px;
    color: white;
}

